<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

	<body style="background-color:powderblue;">
	 <center><a href="AddRecordForm">Add Record</a></center>
		<table border="3" style="margin-left:auto;margin-right:auto">
			<tr>
				<th>Employee Name</th>
				<th>Employee Address</th>
				<th>Employee Phone</th>
				<th>Employee Salary</th>
				<th>Action1</th>
				<th>Action2</th>
			</tr>
			<tr th:each="temp:${empList}">
				<td th:text="${temp.employeeName}"></td>
				<td th:text="${temp.employeeAddress}"></td>
				<td th:text="${temp.employeePhone}"></td>
				<td th:text="${temp.employeeSalary}"></td>
				<td><a th:href="@{updateEmployee(id=${temp.id})}">Update</a></td>
				<td><a th:href="@{DeleteEmployee(id=${temp.id})}">Delete</a></td>
			</tr>
		</table>
	</body>

</html>